#mainList {
  text-align: center;
  background-color: white;
  tr: nth-child(even) {background: #CCC};
  tr: nth-child(odd) {background: #FFF};
}

.form-group {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}

.buttonBanner {
  margin: 0 auto;
  text-align: center;
}
